<?xml version="1.0" encoding="utf-8"?>
<!-- Allows Flutter tool to access the internet for hot reload / debug.
     Remove this manifest in release builds. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
